@charset "UTF-8";

/*
COLOR PALETTE
    yellow - #F2B80E
    blue - #002D65
    green - #009451
*/
:root{
    --yellow: #F2B80E;
    --blue: #002D65;
    --green: #009451;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box ;
}
body html{
    background-color: var(--blue);
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{

    transition: width 0.6s;
    

    width: 400px;
    height: 700px;
    background-color: var(--yellow);

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

    overflow: hidden;
    border-radius: 18px 18px 0px 0px;

    box-shadow: 3px 3px 12px darkgray;
}
section > div#image{
    display: block;
    background: var(--yellow) url(../image/macaren\ half\ front.jpg) no-repeat;
    height: 180px;
    background-size: cover;
    
}

section > div#form{
    display: block;
    padding: 9px;
    text-align: center;
    line-height: 2em;
}
h1{
    text-align: center;
}