@charset "UTF-8";

/*
COLOR PALETTE
    yellow - #F2B80E
    blue - #002D65
    green - #009451
*/
:root{
    --yellow: #F2B80E;
    --blue: #002D65;
    --green: #009451;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: var(--blue);
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{

    transition: width 0.6s;
    

    width: 400px;
    height: 550px;
    background-color: var(--yellow);

    position: absolute;
    top:50%;
    left: 50%;
    

    overflow: hidden;
    border-radius: 18px 18px 0px 0px;

    box-shadow: 3px 3px 12px darkgray;

    transform: translate(-50%,-50%);
}
section > div#image{
    display: block;
    background: var(--yellow) url(../image/macaren\ half\ front.jpg) no-repeat;
    height: 180px;
    background-size: cover;
    
}

section > div#form{
    display: block;
    padding: 9px;
    
    line-height: 2em;
}
div#form h1{
    text-align: center;
}
div.field label{
    display: none;
}
 form div.field{
    background-color: var(--green);
    height: 60px;
    margin: 6px 0px;
    border-radius: 9px;
    padding-top: 9px;
 }
 div.field span{
    color: white ; 
    font-size: 2.4em;
    width: 60px;
    padding-bottom: 9px;
 }
 div.field input{
    background-color: white;

    border: 0px;
    border-radius: 9px;

    font-size: 1em ;

    height: 100%;
    width: calc(100% - 68px);

    transform: translateY(-13px);
    
 }


div a.button{
    display: block;
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    margin-top: 9px;
  
}
div a.button:hover{
    background-color: red;
}


div > input[type=submit]{
    display: inline-block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white;
    background-color: var(--blue);
    border: none;
    margin-bottom: 9px;

    
}
div > input[type=submit]:hover{
    background-color:rgb(0, 140, 255);
    box-shadow: 0px 0px 9px rgb(86, 179, 255) inset;
}